name: Verificar Spring Boot
on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: finsense_test
          POSTGRES_USER: user_test
          POSTGRES_PASSWORD: password_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Baixar código
      uses: actions/checkout@v4

    - name: Configurar Java 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Dar permissão de execução ao Maven
      run: chmod +x mvnw

    - name: Testar e Compilar
      run: ./mvnw clean verify
      env:
        DB_HOST: localhost
        DB_PORT: 5432
        DB_NAME: finsense_test
        DB_USER: user_test
        DB_PASSWORD: password_test
